.m-hero {
	position: relative;
	flex-direction: column;
	overflow: hidden;
	padding: 100px 0 75px;
	min-height: 365px;
	background-color: var(--secondary-subtle-color);

	//modification de margin pour le menu
	margin-top: 50px;

	@extend .content-centered;

	@include respond-to("medium") {
		min-height: 450px;
		padding: 150px 0 75px;
		margin-top: 65px;
	}

	@include respond-to("extra-large") {
		min-height: 565px;
	}

	&--index {
		min-height: 25vh;

		@include respond-to("large") {
			min-height: 30vh;
		}

    //pour écraser la déclaration de base
		@include respond-to("extra-large") {
			min-height: 30vh;
		}
	}

	& .with-picture {
		color: $white;
		background-color: $black;

		.m-hero-title {
			color: $white;
		}
	}

	&.no-picture.in-post {
		display: none;
	}
}

.m-hero__picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
	//opacity: 0.7;
	&.in-post {
		opacity: 1;
	}
}

.m-hero__content {
	position: relative;
	text-align: center;
	padding: 0 $mobile-space;
	z-index: 2;

	@include respond-to("medium") {
		max-width: 700px;
	}

	@include respond-to("extra-large") {
		padding: 0;
	}
}

.m-hero__meta {
	margin: 0 auto;

	@include respond-to("medium") {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.rtl {
	.m-hero__meta {
		direction: ltr;
	}
}
