.m-heading__title {
  color: var(--titles-color);
  letter-spacing: 0.4px;
  line-height: 1.3;
  font-size: 1.750rem;
  margin: 0 0 10px;

  @include respond-to('medium') {
    letter-spacing: 0.5px;
    font-size: 2.250rem;
    margin-bottom: 15px;
  }

  &.featured {
    z-index: 1;
  }

  &.in-post {
    letter-spacing: 0.5px;
    font-size: 2rem;
    margin-bottom: 15px;

    @include respond-to('medium') {
      letter-spacing: 0.7px;
      font-size: 2.625rem;
      margin-bottom: 20px;
    }
  }

  &.bigger {
    letter-spacing: 0.6px;
    font-size: 4rem;
    margin-bottom: 30px;

    @include respond-to('medium') {
      letter-spacing: 0.8px;
      font-size: 4.5rem;
      margin-bottom: 40px;
    }
  }

  &.in-page {
    margin: 0;
  }
}
